@import url(./Root.css);

.cafeHeader{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 10vw;
    /* text-align: center; */
}

.cafeTitle{
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
}

.cafeImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.cafeImages img{
    width: 25%;   
    border-radius: 20px;
    box-shadow: 0 0 20px 5px var(--grayTransparency);
}
.cafeText{
    color: var(--white);
    font-size: 1em;
    text-align: center;
    margin: 40px;
}

.menu{
    align-items: center;
    width: 90%;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
    color: white;
}
.menuTitle *{
    margin: 0;
    padding: 0;
}
.menuTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white);
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchWrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: var(--grayTransparency);
}
#menuElements{
    width: 100%;
    height: inherit;
    display: flex;
}
#menuDishes{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.Dish {
    width: 300px;
    height: fit-content; 
    margin: 15px;
    background-size:cover;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the div */  
    border-radius: 10px;
}
#menuElements h2{   
    font-size: 0.9em;
}
#menuElements .left{
    margin-top: 20px;
    width: 15%;
    height: max-content;
}
#menuElements .right{
    width: 85%;
}
.imgDescription{
    transition: opacity 0.5s ease;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: var(--grayTransparency);
    border-radius: 10px 10px 0px 0px;
}
.imgDescription *{
    padding: 0;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
}
.menuFooter{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--grayTransparency);
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    white-space: nowrap;
}
.checkboxWrapper{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}