@import url(./Root.css);
header {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    border-radius: 20px;
    width: 90%;
    background-color: var(--gray);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.79) 0px 1px 10px;
    z-index: 10000;
}
.headerWrapper{
    margin: auto;
    border-radius: 20px;
    width: 90%;
    height: 60px;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .headerWrapper nav {
    display: flex;
    width: 65%;
    height: 100%;
    float: left;
    margin-left: 10px;
    gap: 7%;
}
header .headerWrapper nav a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: border-bottom-color 0.3s;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: var(--gray);
}
header .headerWrapper nav a:hover{
    border-bottom-color: var(--green);
    
}
header .headerWrapper nav a, .language-switch a{
    color: #fff;
    text-decoration: none;
}
.logo img{
    height: 50px;
}
.language-switch {
    display: flex;
    margin-right: 10px;
}
.language-switch div{
    margin-right: 15px;
    cursor: pointer;
}