:root{
    --white: rgb(255, 255, 255);
    --whiteTransparency: rgba(255, 255, 255, 0.85);
    --gray: rgb(51, 51, 51);
    --grayTransparency: rgba(51, 51, 51, 0.7);
    --green: #124e06;
    --fonts: "Open Sans";
}
body  {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: var(--fonts);
}
html{
    scroll-behavior: smooth;
}
html * {
    /* border: red 1px dotted; */
}
 .temp{
    width: 100%;
    height: 200px;
    background-color: transparent;
 }
.bodyWrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../pics/BackgroundPic.jpg);
    position: fixed;
}
.bodyWrapperShade{
    background-color: rgba(0, 0, 0, 0.79);
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}