body  {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: var(--fonts);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.visible { /* To prevent Dual Language Lagging */
    visibility: visible;
    opacity: 1;
}
:root{
    --white: rgb(255, 255, 255);
    --whiteTransparency: rgba(255, 255, 255, 0.85);
    --gray: rgb(51, 51, 51);
    --grayTransparency: rgba(51, 51, 51, 0.7);
    --green: rgb(18, 78, 6);
    --greenTransparency: rgba(18, 78, 6, 0.5);
    --fonts: "Open Sans";
}